.stock-photos{
    .photos{
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding: 2rem;
        // grid-auto-flow: dense;
        // justify-content: center;
        
        li{
            list-style: none;
           
        }
        
    }
}

@media screen and (max-width: 600px) {
    .tabs{
        .tab-list{
            gap: 1rem;
            margin: 0;
            display: block;
        }
    }
    .stock-photos{
        .photos{
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            grid-gap: 2rem;
        }
      
    }
  
}